<div class="container mt-5">

  <div class="jumbotron">
    <h1 class="text-center mb-4"> Trip <%= @trip.id %> </h1>
    <div class="row mb-4">
      <div class="col-sm-6">
        <div class="card bg-light">
          <div class="card-body text-center">
            
            <%= image_tag "driver.jpg",
              class: "rounded-circle d-block mx-auto mb-3",
              style: "width: 45%"
            %>

            <h5 class="card-title text-center">Driver: <%= @driver.name %> </h5>
            <%= link_to "Go to Driver", driver_path(@driver), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card bg-light">
          <div class="card-body text-center">

            <%= image_tag "passenger.jpg",
              class: "rounded-circle d-block mx-auto mb-3",
              style: "width: 45%"
            %>

            <h5 class="card-title text-center">Passenger: <%=@passenger.name %> </h5>
            <%= link_to "Go to Passenger", passenger_path(@passenger), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Rating</th>
          <th scope="col">Cost</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <td> <%= @trip.date %> </td>
        <td>
          <% if @trip.rating %>
            <%= @trip.rating %></li>
          <% else %>
            N/A
          <% end %>
        </td>
        <td> $<%= @trip.cost.round %> </td>
        <td>
          <%= link_to "Edit Trip", edit_trip_path(@trip), class: "btn btn-primary" %>
          <%= link_to "Delete Trip", trip_path(@trip), method: :delete, data: {confirm: "Delete trip?"}, class: "btn btn-danger" %>
        </td>
      </tbody>
    </table>
  </div>
</div>