<div class="container mt-5">
  <h1>Updating passenger info</h1>

  <% if @passenger.errors.any? %>
    <ul class="errors">
      <% @passenger.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @passenger, class: "" do |f| %>
    <p>Please update the following information:</p>

    <div class="form-group">
    <%= f.label "Name:" %>
    <%= f.text_field :name, class:"form-control" %>
    </div>

    <div class="form-group">
    <%= f.label "Phone number:" %>
    <%= f.text_field :phone_num, class:"form-control" %>
    </div>

    <%= f.submit "Update passenger", class: "" %>
  <% end %>
</div>