<div class="container">
  <%= form_with model: @passenger, class: 'create-passenger' do |f| %>
    <p>You're welcome to edit the following information:</p>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :phone_num %>
    <%= f.text_field :phone_num %>

    <%= f.submit "Update passenger", class: "passenger-button" %>
  <% end %>
</div>