<div class="container">
  <h1> <%= @driver.name %> </h1>
  <h2>Stats:</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
    Availability:
      <% if @driver.available %>
        <td>Yes</td>
      <% else %>
        <td>No</td>
      <% end %>
    </li>

    <li class="list-group-item">VIN: <%= @driver.vin %></li>
    <li class="list-group-item">Total income: $ <%= @driver.total_earnings %> </li>
    
    <li class="list-group-item">
      Average Rating: 
        <% if @driver.average_rating > 0 %>
          <%= @driver.average_rating %>
        <% else %>
          N/A
        <% end %>
    </li>
    
    <%= link_to "Edit", edit_driver_path(@driver) %>
    <%= link_to "Delete", driver_path(@driver), method: :delete, data: {confirm: "Delete driver?"}%>
  </ul>

  <h2>Trips</h2>

</div>