<div class="container mt-5">

  <div class="jumbotron mx-auto" style="width: 50%">
    <%= image_tag "driver.jpg",
       class: "rounded-circle d-block mx-auto mb-3",
       style: "width: 45%"
    %>
    <h1 class="text-center"> <%= @driver.name %> </h1>
    <%# <h3>About:</h2> %>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
      Availability:
        <% if @driver.available %>
          <td>Yes</td>
        <% else %>
          <td>No</td>
        <% end %>
      </li>

      <li class="list-group-item">VIN: <%= @driver.vin %></li>
      <li class="list-group-item">Total income: $ <%= '%.2f' % @driver.total_earnings %> </li>
      
      <li class="list-group-item">
        Average Rating: 
          <% if @driver.average_rating > 0 %>
            <%= @driver.average_rating %>
          <% else %>
            N/A
          <% end %>
      </li>
    </ul>

    <%= link_to "Edit", edit_driver_path(@driver), class: "btn btn-primary" %>    
    <%= link_to "Delete", driver_path(@driver), method: :delete, data: {confirm: "Delete driver?"}, class: "btn btn-danger" %>
    
  </div>
  <h3 class="text-center">Trips</h2>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Rating</th>
        <th scope="col">Cost</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <% @trips.each_with_index do |trip, i| %>
      <tr class="list-group-item-action">
        <th scope="row"> <%= i + 1 %> </th>
        <td> <%= trip.date %> </td>
        <td> <%= trip.rating %> </td>
        <td> $<%= trip.cost.round %> </td>
        <td> <%= link_to "Go!", trip_path(trip) %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>


</div>