<div class="container">


  <div class="jumbotron mx-auto" style="width: 50%">
    <img src="https://pbs.twimg.com/profile_images/558023192451620865/V92DiRPn_400x400.jpeg"
       alt="Driver's profile picture"
       class="rounded-circle d-block mx-auto mb-3"
       style="width: 45%"
    >
    <h1 class="text-center"> <%= @driver.name %> </h1>
    <%# <h3>About:</h2> %>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
      Availability:
        <% if @driver.available %>
          <td>Yes</td>
        <% else %>
          <td>No</td>
        <% end %>
      </li>

      <li class="list-group-item">VIN: <%= @driver.vin %></li>
      <li class="list-group-item">Total income: $ <%= @driver.total_earnings %> </li>
      
      <li class="list-group-item">
        Average Rating: 
          <% if @driver.average_rating > 0 %>
            <%= @driver.average_rating %>
          <% else %>
            N/A
          <% end %>
      </li>
    </ul>

    <a class="btn btn-primary" href= <%= edit_driver_path(@driver) %> >
      Edit
    </a>
    
    <%= link_to "Delete", driver_path(@driver), method: :delete, data: {confirm: "Delete driver?"}, class: "btn btn-danger" %>
    
  </div>
  <h3 class="text-center">Trips</h2>
</div>